* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #f5f7fa;
}

/* Header */
header {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Navbar */
nav {
    display: flex;
    justify-content: center;
    background: #444;
}

nav a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    background: #666;
}

/* Sections */
section {
    padding: 30px;
}

/* Cards */
.card {
    background: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

input, textarea {
    padding: 10px;
}

button {
    background: #222;
    color: white;
    padding: 10px;
    border: none;
}

/* Footer */
footer {
    text-align: center;
    background: #222;
    color: white;
    padding: 10px;
}